In [11]:
import requests
import pandas as pd
import kagglehub
import os
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [12]:
path = kagglehub.dataset_download("blastchar/telco-customer-churn",path='WA_Fn-UseC_-Telco-Customer-Churn.csv')

Downloading from https://www.kaggle.com/api/v1/datasets/download/blastchar/telco-customer-churn?dataset_version_number=1&file_name=WA_Fn-UseC_-Telco-Customer-Churn.csv...

100%|██████████| 955k/955k [00:00<00:00, 1.57MB/s]

In [13]:
destination = os.environ.get('LR_Destination')

alr_exists = str(destination + '/' + 'WA_Fn-UseC_-Telco-Customer-Churn.csv')

if os.path.exists(alr_exists):
        os.remove(alr_exists)
        print(f"File '{alr_exists}' deleted sucessfully.")
else:
        print(f"File '{alr_exists}' not found.")

File 'C:/Users/sarge/Documents/Projects/Covid Visualization/covid-dashboard-analytics/data/WA_Fn-UseC_-Telco-Customer-Churn.csv' not found.

In [14]:
source = os.environ.get('LR_SOURCE')

allfiles = os.listdir(source)

for f in allfiles:
        src_path = os.path.join(source, f)
        dst_path = os.path.join(destination, f)
        os.rename(src_path, dst_path)

In [15]:
str(destination + '/' + 'WA_Fn-UseC_-Telco-Customer-Churn.csv')  
ChurnData = pd.read_csv(str(destination + '/' + 'WA_Fn-UseC_-Telco-Customer-Churn.csv'))

In [16]:
#Pre-Processing of Data, removing CustomerID, and Converting TotalCharges into a float.

ChurnData.drop('customerID',axis=1,inplace=True)
ChurnData['TotalCharges'] = pd.to_numeric(ChurnData['TotalCharges'], errors='coerce').fillna(pd.to_numeric(ChurnData['TotalCharges'], errors='coerce').mean())

In [17]:
# most likely the columns that are categorical -> not numerical (Creating function to dynamically assign integer values to categorical information)
# Some data is multicollinear, meaning that there is redundant information.


for column in ChurnData:
    if(ChurnData[column].dtype == 'object' and len(ChurnData[column].unique()) > 2):
            ChurnData = pd.get_dummies(ChurnData, columns=[str(column)])

ChurnData[['InternetService_DSL', 'InternetService_Fiber optic', 'InternetService_No']]

      InternetService_DSL  InternetService_Fiber optic  InternetService_No
0                    True                        False               False
1                    True                        False               False
2                    True                        False               False
3                    True                        False               False
4                   False                         True               False
...                   ...                          ...                 ...
7038                 True                        False               False
7039                False                         True               False
7040                 True                        False               False
7041                False                         True               False
7042                False                         True               False

[7043 rows x 3 columns]